$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$color-primary: #62FFAF;
$color-primary-darken: #00eb74;
$color-secondary: #0b1f40;
$color-gray:#555555;
$color-gray-soft:#f9f7f7;
$color-black:#222222;
$color-white:#ffffff;